.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  max-width: 1500px;
  width: 80vw;
  margin: auto;
}

.title {
  font-family: "Unbounded", sans-serif;
  font-size: 3em;
  color: white;
  margin: 20px;
}

.App {
  height: 100vh;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.line {
  margin-top: 200px;
  margin-bottom: 200px;
}

.container > .right {
  flex-basis: 55%;
}

.FacultyList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.winnersList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}


.video {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh !important;
  width: 85.4vh !important;
  margin: auto;
}

.right {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1
}