@font-face {
	font-family: 'Avenir-Regular';
	src: url('../assets/Avenir/Regular/avenirnextcyr-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/Avenir/Regular/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/Avenir/Regular/avenirnextcyr-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/Avenir/Regular/avenirnextcyr-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/Avenir/Regular/avenirnextcyr-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/Avenir/Regular/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Avenir-Medium';
	src: url('../assets/Avenir/Medium/avenirnextcyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/Avenir/Medium/avenirnextcyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/Avenir/Medium/avenirnextcyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/Avenir/Medium/avenirnextcyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/Avenir/Medium/avenirnextcyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/Avenir/Medium/avenirnextcyr-medium.svg#avenirnextcyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Avenir-Demi';
	src: url('../assets/Avenir/Demi/avenirnextcyr-demi.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/Avenir/Demi/avenirnextcyr-demi.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/Avenir/Demi/avenirnextcyr-demi.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/Avenir/Demi/avenirnextcyr-demi.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/Avenir/Demi/avenirnextcyr-demi.css') format('truetype'), /* Safari, Android, iOS */
		url('../assets/Avenir/Demi/avenirnextcyr-demi.svg#avenirnextcyr-demi') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Avenir-Bold';
	src: url('../assets/Avenir/Bold/avenirnextcyr-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/Avenir/Bold/avenirnextcyr-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/Avenir/Bold/avenirnextcyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/Avenir/Bold/avenirnextcyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/Avenir/Bold/avenirnextcyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/Avenir/Bold/avenirnextcyr-bold.svg#avenirnextcyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Avenir-Heavy';
	src: url('../assets/Avenir/Heavy/avenirnextcyr-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/Avenir/Heavy/avenirnextcyr-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/Avenir/Heavy/avenirnextcyr-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/Avenir/Heavy/avenirnextcyr-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/Avenir/Heavy/avenirnextcyr-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/Avenir/Heavy/avenirnextcyr-heavy.svg#avenirnextcyr-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}
