// colors
$light-green: #609c62;
$dark-green: darkslategray;

$light-pink: rgb(193, 150, 157);
$dark-pink: rgb(150, 90, 90);

$blue: rgb(92, 125, 187);

$light-gray: gray;
$dark-gray: #242424;

// font-size
$small: 12px;
$standard: 16px;

// faculty background color
$fill-bacground: rgb(255, 255, 255);
$regular-bacrground: $fill-bacground 0.8;
$draft-bacrground: $fill-bacground 0.5;

//$facultyRowWidth: 666px;