

.settingsPage {
    @include columnFlex;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    justify-content: space-between;
    padding: 16px 0;
}

.mainContent {
    @include columnFlex;
    overflow-y: auto;
}

.releaseContent {
    @include columnFlex;
    width: $facultyRowWidth;
}

.facContainer {
    @include baseContainer;
    width: 200px;
}

.released {
    transition: all 1s;
    transform: translateX(466px);
}

.header, .queueHeader {
    @include baseFlexContainer;
    @include smallFont;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid white;
    width: $facultyRowWidth;
}

.queueHeader {
    border: none;
}

.contentHeader {
    @include smallFont;
    display: grid;
    grid-template-columns: 60px 200px 60px 90px 60px 116px;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.footer {
    @include baseFlexContainer;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid white;
    width: $facultyRowWidth;
}



.hideCheckbox {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.hideCheckbox input[type=checkbox] {
    margin: 0;
    accent-color: $blue;
    cursor: pointer;
}

.flexContainer {
    @include baseFlexContainer;
}
