

.row {
    display: grid;
    grid-template-columns: 60px 200px 60px 90px 60px 50px 50px;
    gap: 8px;
}

.nameContainer {
    @include baseContainer;
    width: 200px;
    padding: 4px 0;
    cursor: grab;
}

/* Для Sortable */
.sortable-chosen, .sortable-ghost {
    cursor: grabbing !important;
    cursor: -webkit-grabbing !important;
}


.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.noDisplay {
    display: none;
}

.row input[type=checkbox] {
    width: 60px;
    margin: 0;
    accent-color: $light-green;
    cursor: pointer;
}

.row input[type=checkbox]:disabled {
    cursor: not-allowed;
}

/* Убираем стрелки у всех number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;

    padding: 4px 8px;
    width: 50px;
}

.row .radioButton {
    transform: scale(1.5);
}
